@import "../utilites/utils";
wrapper{
  @include size(360px, 3392px);
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 20px;
}