@import "../utilites/utils";

.footer_block{
  @include size(100%, 201px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1{
    display: flex;
    margin: 0px;
    font-size: 16px;
    font-weight: bolder;
  }
  .footer_block_text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p{
      font-size: 13px;
      text-align: center;
    }
  }
  .Socials{
    @include size(88px, 18px);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    #facebook{
      @include size(17px, 18px);
      background-image: url("../img/facebook.png");
    }
    #vk{
      @include size(22px, 11.43px);
      background-image: url("../img/vk.png");
    }
    #instagram{
      @include size(17px, 18px);
      background-image: url("../img/instagram.png");
    }
  }
  .adress{
    @include size(80.2%, 136px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .adress_street{
      @include size(100%, 44px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      p{
        display: inline-flex;
        text-align: center;
        font-size: 13px;
      }
      .small_case{
        display: inline-flex;
        margin-top: 4px;
        font-size: 11px;
      }
    }
    .e-mail{
      font-size: 13px;
    }
    .main_button{
      width: 100%;
      p{
        font-size: 14px;
      }
    }
  }
}
.big_logo{
  @include size(51px, 47px);
  display: flex;
}
#Metrovka{
 @include size(100%, 228px);
  .footer_block_text {
    @include size(100%, 184px);
  }
}
#Partnership{
  @include size(100%, 196px);
  .footer_block_text {
    @include size(100%, 152px);
  }
}
#Know_more{
  @include size(100%, 156px);
  .footer_block_text {
    @include size(100%, 112px);
  }
}
#Contacts{
  @include size(100%, 210px);
  .footer_block_text {
    @include size(100%, 2px);
  }
}