@import "../utilites/utils";

.layer{

    @include size(360px, 672px);
    margin-top: 8px;
    position: absolute;
    display: flex;
    padding-top: 24px;
    flex-wrap: wrap;
    background-color: black;
    background-image: url(../../build/img/Rectangle2.png);
    justify-content: flex-start;
    align-content: flex-start;
    z-index:2;
}
#menu_nav_mobile{
    margin-left: 16px;
}
#ham{
    @include size(26.67px, 17px);
    background-image: url("../../build/img/menu_icon.png");
}
.menu_mobile_list{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        margin-left: 66px;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
        font-size: 13px;
        padding-bottom: 3px;
        padding-left: 20px;
        color: white;
        padding-top: 3px;
    }
    li:hover{
        border-bottom: 2px solid white;
    }
}
