@import "../utilites/utils";

.main_button{
  @include size(320px, 40px);
  background-color: $green;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    display: inline-flex;
    font-size:14px;
    color: white;
  }
}