@import "../utilites/utils";

.page_seletor{
  @include size(11.11%, 14px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .selector{
    @include size(14px, 14px);
    border-radius: 100px;
    border: 2px solid $green;
    display: inline-flex;
  }
}
#active_selector{
  background-color: $green;
}