@import "../utilites/utils";

.wrapper_container{
  @include size(360px, 484px);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  .metro_logo{
    @include size(336px, 212px);
    display: flex;
  }
}
#wrapper_container_metro{
  justify-content: center;
  align-content: space-around;
  .wrapper_container_metro_content{
    @include size(320px, 212px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
}
#wrapper_container_bestOffers{
 @include size(360px, 385px);
  background-color: white;
  /*margin-top: 20px;*/
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#wrapper_container_lastOffers{
  @include size(360px, 436px);
  background-color: white;
  /*margin-top: 20px;*/
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
#wrapper_container_telegram{
  @include size(100%, 717px);
  background-color: darkgrey;
  /*margin-top: 60px;*/
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  .main_telegram_text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    #telegram_text{
      margin-top: 20px;
    }
  }
}
#wrapper_container_blog{
  @include size(100%, 1230px);
  background-color: white;
  /*margin-top: 60px;*/
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  .blog_content{
    @include size(78.88%, 1150px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .main_text{
      @include size(100%, 112px);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      h{
        font-size: 20px;
        font-weight: bolder;
      }
      #blog_text{
        margin-top: 20px;
        margin-left: 0px;
      }
    }
  }
}