<header class="header">
    <nav class="navigation">
        <div class="nav_content">
            <img class="logo" alt="logo" src="..\build\img\Logo.png">
            <input type="radio" id="rentRB" class="RB_header" >
            <label class="RB_label" id="Rent"for="rentRB">Аренда</label>
            <input type="radio" id="sellRB" class="RB_header" >
            <label class="RB_label" id="Sell"for="sellRB">Продажа</label>
            <input type="radio" id="dailyRB" class="RB_header" >
            <label class="RB_label" id="Daily"for="dailyRB">Посуточно</label>
            <div id="Other">
                <div id="MenuPopup"></div>
                <a>Еще</a>
            </div>

        </div>
        <div id="LogIn">
            <div class="Create_ad">
                <img src="../build/img/Shape.png">
                <p>Разместить обьявление</p>
            </div>
            <a class="LogIn">Войти</a>
        </div>
        <a class="menu_head_button" href="#"></a>
    </nav>
    <div class="Search">
        <h1>Поиск недвижимости в Украине</h1>
        <div class="Components_hdr">
            <div class="Component_city">
                <p id="City_p">Выберите город</p>
                <select class="popup_list">
                    <option value="KY">Kyiv</option>
                    <option value="RN">Rivne</option>
                    <option value="DN">Dipro</option>
                    <option value="KH">Kharkiv</option>
                    <option value="LV">Lviv</option>
                    <option value="OD">Odessa</option>
                </select>
                <!--<div class="Popup_list">
                    <img src="..\build\img\ShapeForList.png">
                    <select>
                        <option>Киев</option>
                        <option>Львов</option>
                    </select>
                </div>-->
            </div>
            <div class="Component_room">
                <p id="Rooms_p">Кол-во комнат</p>
                <div class="Rooms">
                    <a class="Num_rooms">1</a>
                    <a class="Num_rooms">2</a>
                    <a class="Num_rooms">3</a>
                    <a class="Num_rooms">4</a>
                    <a class="Num_rooms">5+</a>
                </div>
            </div>
            <div id="Search_btn"><a>Перейти к поиску</a></div>
        </div>
    </div>
</header>