<wrapper>
    <div class="wrapper_container" id="wrapper_container_metro">
        <img class="metro_logo" src="..\build\img\logo_metro.png">
        <div class="wrapper_container_metro_content">
            <h1>Недвижимость возле метро</h1>
            <div class="place_variation">
                <input type="radio" id="radio_wrapper_flats" class="RB_variation" checked >
                <label id="flats"for="radio_wrapper_flats">Квартиры</label>
                <input type="radio" id="radio_wrapper_houses" class="RB_variation" >
                <label id="houses"for="radio_wrapper_houses">Дома</label>
                <input type="radio" id="radio_wrapper_offices" class="RB_variation" >
                <label id="offices"for="radio_wrapper_offices">Офисы</label>
            </div>
                    <select class="popup_list" style="width: 309px">
                        <option>Лесная</option>
                        <option>Дарница</option>
                        <option>Черниговская</option>
                        <option>Левобережная</option>
                        <option>Гидропарк</option>
                        <option>Днепр</option>
                        <option>Арсенальная</option>
                        <option>Крещатик</option>
                        <option>Театральная</option>+
                        <option>Университет</option>
                        <option>Вокзальная</option>
                        <option>Политехнический институт</option>
                        <option>Шулявская</option>
                        <option>Берестейская</option>
                        <option>Святошинио</option>
                        <option>Нивки</option>
                        <option>Житомирская</option>
                        <option>Академгородок</option>
                    </select>
            <div class="main_button" id="main_button_container_metro"><p class="btn_2_p">Показать результаты поиска</p></div>
        </div>
    </div>
    <div class="wrapper_container" id="wrapper_container_bestOffers">
        <h3>Лучшие предложения в Киеве</h3>
        <div class="flats">
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">7 800 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">2 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">10 200 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">1 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">6 900 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">2 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">9 000 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">2 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
        </div>
        <div class="watch_more_btn">
            <a>Смотреть лучшие ценовые предложения</a>
        </div>
    </div>
    <div class="wrapper_container" id="wrapper_container_lastOffers">
        <h3>Последние обьявления в Киеве</h3>
        <div class="place_variation">
            <input type="radio" id="radio_wrapper_flats" class="RB_variation" checked >
            <label id="flats"for="radio_wrapper_flats">Квартиры</label>
            <input type="radio" id="radio_wrapper_houses" class="RB_variation" >
            <label id="houses"for="radio_wrapper_houses">Дома</label>
            <input type="radio" id="radio_wrapper_offices" class="RB_variation" >
            <label id="offices"for="radio_wrapper_offices">Офисы</label>
        </div>
        <div class="flats">
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">7 800 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">2 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">10 200 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">1 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">6 900 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">2 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
            <div class="flat">
                <div class="photo_flat">
                    <div class="flat_more"></div>
                </div>
                <div class="price_best">
                    <p class="best_price">9 000 грн</p>
                    <img class="checked_price" src="../build/img/Group3.png">
                </div>
                <p class="rooms_p_best">2 комн.  •  30 кв.м.</p>
                <div class="place_best">
                    <img src="../build/img/Rectangle430.png" class="rectangle">
                    <p>Политехнический институт</p>
                </div>
            </div>
        </div>
        <div class="watch_more_btn">
            <a>Смотреть самые свежие обьявления</a>
        </div>
    </div>
    <div class="wrapper_container" id="wrapper_container_telegram">
        <div class="main_telegram_text">
            <h>Общайтесь в Telegram</h>
            <p id="telegram_text">Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений. </p>
        </div>
        <div class="place_variation" id="telegram_variation">
            <input type="radio" id="radio_wrapper_property" class="RB_variation" checked >
            <label id="property"for="radio_wrapper_flats">Поиск недвижимости</label>
            <input type="radio" id="radio_wrapper_clients" class="RB_variation" >
            <label id="clients"for="radio_wrapper_clients">Общение с клиентами</label>
        </div>
        <div class="Telega">
            <div class="Phone">
                <div class="Iphone"></div>
            </div>
            <div class="metrovka_bot">
                <div class="metrovka_bot_content">
                    <div class="telegram_logo">
                        <img alt="Telegram logo" src="../build/img/Oval3.png">
                        <h1>Telegram</h1>
                    </div>
                    <div class="telegram_text">
                        <h1>Metrovka Bot</h1>
                        <div class="telegram_paragraph">
                            <p>1. Собирайте аналитику по объектам</p>
                            <p>2. Получайте подсказки по эффективному продвижению объявлений</p>
                            <p>3. Общайтесь с клиентами через специальный канал телекоммуникации</p>
                        </div>
                    </div>
                    <div class="main_button" id="main_button_container_telegram"><p class="btn_2_p">Присоединится к Telegram</p></div>
                </div>
            </div>
        </div>
        <div class="page_seletor">
            <div class="selector" id="active_selector"></div>
            <div class="selector"></div>
        </div>
    </div>
    <div class="wrapper_container" id="wrapper_container_blog">
         <div class="blog_content">
            <div class="main_text">
                <h>Блог Metrovka</h>
                <p id="blog_text">Хитрости, приемы, советы, фото и видео – все о том как продать, купить, сдать в аренду или арендовать недвижимость.</p>
            </div>
            <div class="post">
                <div class="images" id="Lifehack">
                    <div class="flat_more"></div>
                </div>
                <div class="post_content">
                    <div class="post_content_text">
                        <h2 id="Lifehack_h">ЛАЙФХАК</h2>
                        <p class="post_content_paragraph">Киевляне могут оплатить коммуналку через Facebook…</p>
                    </div>
                    <p class="post_content_author">Татьяна Малыняк  •  5 мин чтения</p>
                </div>
            </div>
            <div class="post">
                 <div class="images" id="Metrovka_guide">
                     <div class="flat_more"></div>
                 </div>
                 <div class="post_content">
                     <div class="post_content_text">
                         <h2 id="Metrovka_h">СОВЕТ METROVKA</h2>
                         <p class="post_content_paragraph">ТОП-5 самых дешевых квартир Киева</p>
                     </div>
                     <p class="post_content_author">Татьяна Малыняк  •  3 мин чтения</p>
                 </div>
             </div>
            <div class="post">
                 <div class="images" id="Technologies">
                     <div class="flat_more"></div>
                 </div>
                 <div class="post_content">
                     <div class="post_content_text">
                         <h2 id="Tech_h">ТЕХНОЛОГИИ</h2>
                         <p class="post_content_paragraph">Смарт квартиры: цены, предложения и законность</p>
                     </div>
                     <p class="post_content_author">Татьяна Малыняк  •  2 мин чтения</p>
                 </div>
             </div>
         </div>
        <div class="watch_more_btn">
            <a>Перейти на страницу блога</a>
        </div>
    </div>
</wrapper>