<div class="layer">
    <div class="navigation" id="menu_nav_mobile">
        <div class="nav_content">
            <img class="logo" alt="logo" src="..\build\img\Logo.png">
            <input type="radio" id="rentRB" class="RB_header" >
            <label class="RB_label" id="Rent"for="rentRB">Аренда</label>
            <input type="radio" id="sellRB" class="RB_header" >
            <label class="RB_label" id="Sell"for="sellRB">Продажа</label>
            <input type="radio" id="dailyRB" class="RB_header" >
            <label class="RB_label" id="Daily"for="dailyRB">Посуточно</label>
            <div id="Other">
                <div id="MenuPopup"></div>
                <a>Еще</a>
            </div>
        </div>
        <a class="menu_head_button" id="ham" href="#"></a>
    </div>
    <ul class="menu_mobile_list">
        <li>Продажа</li>
        <li>Посуточно</li>
        <li>Блог</li>
        <li>Контакты</li>
        <li>Новый поиск</li>
        <li>Войти</li>
    </ul>
</div> 