<footer>
    <div class="footer_menu">
        <div class="footer_block" id="Metrovka">
            <h1>Metrovka</h1>
                 <div class="footer_block_text">
                <p>О компании</p>
                <p>Пресса о нас</p>
                <p>Пользовательское<br>соглашение</p>
                <p>Карта сайта</p>
                <p>Помощь</p>
            </div>
        </div>
        <div class="footer_block" id="Partnership">
            <h1>Партнерство</h1>
            <div class="footer_block_text">
                <p>Как разместить<br>обьявление</p>
                <p>Инструменты<br>продвижения</p>
                <p>Правила заполнения<br>Обьявлений</p>
            </div>
        </div>
        <div class="footer_block" id="Know_more">
            <h1>Узнайте больше</h1>
            <div class="footer_block_text">
                <p>Бонусная программа<br>Bonus+</p>
                <p>Telegram Metrovka Bot</p>
                <p>как работает поиск</p>
            </div>
        </div>
        <div class="footer_block" id="Contacts">
            <h1>Контакты</h1>
            <div class="Socials">
                <img class="menu_head_button" id="facebook" src="../build/img/facebook.png">
                <img class="menu_head_button" id="vk" src="../build/img/vk.png">
                <img class="menu_head_button" id="instagram" src="../build/img/instagram.png">
            </div>
            <div class="adress">
               <div class="adress_street">
                <p>ул. Жилянская, 37</p>
                <p class="small_case">Киев, 01033</p>
               </div>
                <p class="e-mail">info@metrovka.ua</p>
                <div class="main_button" id="main_button_footer"><p class="btn_2_p">Оставить заявку</p></div>
            </div>
        </div>
    </div>
    <img class="big_logo" src="../build/img/BigLogo.png">
</footer>