@import "../utilites/utils";

.header{
  background-color: $green;
  @include size(100%, 480px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background-image: url("../../build/img/background.png");
  background-repeat: no-repeat;
}