@import "../utilites/utils";
@import "../../bourbon/bourbon";

.layer{
    width: 390px;
    height: 4945px;
    top: -42px;
    transition: all 0.2s ease-out;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    margin-top: 40px;
    z-index: 1;
    .logo{
        display: inline-flex;
        margin-left: 20px;
        margin-top: 30px;
    }
    .menu_mobile_list{
        display: inline-grid;
        text-decoration: none;
        list-style-type: none;
        font-size: 19px;
        line-height: 35px;
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
      li:hover{
        color: rgba(255, 255, 255, 1.0);
        cursor: pointer;
      }
    }
}
.toggler{
    display: none;
    &:checked+.mainlayer{
        .layer{
          left: 480px;
        }
    }
}