@import "../utilites/utils";

.metrovka_bot{
  @include size(99.88%, 447.55px);
  border-radius: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .metrovka_bot_content{
    @include size(77.77%, 380px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .telegram_logo{
      @include size(280px, 60px);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        @include size(60px, 60px);
        display: inline-flex;
      }
      h1{
        display: inline-flex;
        margin-left: 20px;
      }
    }
    .telegram_text{
      @include size(100%, 216px);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      h1{
        margin: 0px;
        font-weight: normal;
      }
      .telegram_paragraph{
        @include size(100%, 164px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        p{
          font-size: 13px;
          text-align: left;
          margin: 0px;
        }
      }
    }
  }
}